.horizons-list {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    min-width: 50px;
    max-width: 200px;
    display: flex;
    padding: 2px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    color: rgb(178, 200, 224);
}

.horizon-item {
    min-width: 100px;
    padding: 5px;
    cursor: pointer;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.241);
    font-family: monospace;
    white-space: pre;
}
